.hero {
  max-width: 48em;
  margin: 2em auto;
  padding: 2em;
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  .btn {
    background: $primary;
    border-radius: 15px;
    color: $gray-100;
    display: inline-block;
    margin: 0.5em;
    padding: 0.8em 1.2em;
    transition: outline-width 0.08s ease-in-out,
      background-color 0.08s ease-in-out;
    outline: darken($primary, 5%) 0px solid;
    outline-offset: 3px;
  }

  .btn:hover,
  .btn:active,
  .btn:focus {
    background: lighten($primary, 5%);
    outline-width: 2px;
    text-decoration: none;
  }

  .btn:active {
    background: darken($primary, 5%);
  }
}

h1 {
  text-align: center;
}

.site-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem;
}

.article-container {
  background: transparentize($white, 0.35);
  margin: 0;
  max-width: none;

  & > article {
    margin: 0 auto;
    max-width: 40rem;
  }
}

p.meta {
  margin-top: 1rem;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  color: $gray-dark;
}

p.meta a {
  color: $gray-dark;
}

p.meta a:hover,
p.meta a:focus {
  color: $primary;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
}

.card {
  // Flex
  align-items: stretch;
  align-self: flex-start;
  box-sizing: border-box;
  flex: 0 0 calc(50% - 2rem);
  margin: $footer-section-margin;
  // Style
  background: $gray-100;
  border-radius: 8px;
  filter: drop-shadow(1px 2px 4px $shadow-color-soft);
  will-change: filter; /* Avoid glitches on Safari */

  & > * {
    display: block;
    padding: 0 1rem;
  }

  &:hover,
  &:focus-within {
    filter: drop-shadow(1px 2px 4px $shadow-color-medium);
  }

  .card-more,
  .card-action {
    background: lighten($yellow, 20%);
    border-radius: 0 0 8px 8px;
    padding: 1rem;
    text-align: end;
    transition: background 0.08s ease-in-out;

    &::after {
      content: " →";
    }

    &:hover,
    &:active,
    &:focus {
      background: $yellow;
      text-decoration: none;
    }

    &:focus {
      outline: lighten($primary, 10%) 2px solid;
    }
  }

  .card-action {
    background: lighten($blue, 50%);
    border-radius: 0;
    font-weight: 600;

    &::before {
      content: " ✨ ";
    }
  }
}

@media screen and (max-width: 42rem) {
  .card-list {
    display: block;
  }
  .card {
    margin: 0 0 2rem;
    h3 {
      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: 24rem) {
  .card {
    margin: 0 -2rem 2rem;
    border-radius: 0;
  }
}

.timeline {
  $tl-event-padding-x: 1rem;
  $tl-event-padding-y: 1rem;
  $tl-event-spacing: 1rem;
  $tl-column-width: 3rem;
  $tl-marker-size: 1rem;
  $tl-line-width: 0.25rem;
  $tl-line-space: 0.6rem;
  $tl-marker-top: $tl-event-padding-y + 0.5rem;
  $tl-line-top: $tl-marker-top + $tl-marker-size + $tl-line-space;
  $tl-marker-left: ($tl-column-width + $tl-marker-size) / 2;
  $tl-line-left: ($tl-column-width + $tl-line-width) / 2;
  $tl-line-limit: $tl-marker-size + 2 * $tl-line-space - $tl-event-spacing;

  max-width: 35em;
  margin: 0 auto;

  .timeline-event {
    box-shadow: 1px 1px 4px #bbb;
    border-radius: 8px;
    background: white;
    box-sizing: border-box;
    position: relative;
    padding: $tl-event-padding-y $tl-event-padding-x;
    margin-left: $tl-column-width;
    margin-bottom: $tl-event-spacing;

    &:focus {
      outline: darken($primary, 5%) 2px solid;
      outline-offset: 3px;
    }

    .date::before {
      content: "📅 ";
    }

    .time::before {
      content: "⏰ ";
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: -$tl-marker-left;
      top: $tl-marker-top;
      width: $tl-marker-size;
      height: $tl-marker-size;
      background: #fff;
      // border: 3px solid #888;
      border-radius: 50%;
      box-sizing: border-box;
      border: 2px solid $primary;
      z-index: 100;
    }

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      border-radius: 8px;
      top: $tl-line-top;
      left: -$tl-line-left;
      width: $tl-line-width;
      height: calc(100% - #{$tl-line-limit});
      background: lighten($primary, 40%);
    }
  }
}

/*
 * Dark mode
 */

@media screen and (prefers-color-scheme: dark) {
  .article-container {
    background: transparentize($black, 0.4)
  }

  .card {
    background: $gray-900;
    filter: drop-shadow(1px 2px 4px $shadow-color-soft-dark);

    &:hover,
    &:focus-within {
      filter: drop-shadow(1px 2px 4px $shadow-color-medium-dark);
    }

    .card-more,
    .card-action {
      background: $black;

      &:hover,
      &:active,
      &:focus {
        background: desaturate(darken($blue, 30%), 40%);
        text-decoration: none;
      }
    }

    .card-action {
      background: desaturate(darken($blue, 35%), 60%);
    }
  }
}
