.hero {
  max-width: 48em;
  margin: 2em auto 6em;
  text-align: center;

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}

.btn {
  background: $primary;
  border-radius: 15px;
  color: $gray-100;
  display: inline-block;
  margin: 0.5em;
  padding: 0.8em 1.2em;
  transition: outline-width 0.08s ease-in-out,
    background-color 0.08s ease-in-out;
  outline: darken($primary, 5%) 0px solid;
  outline-offset: 3px;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: lighten($primary, 5%);
  color: $white;
  outline-width: 2px;
  text-decoration: none;
}

.btn:active {
  background: darken($primary, 5%);
}

h1,
.center {
  text-align: center;
}

.site-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem;
}

.article-container {
  background: transparentize($white, 0.35);
  margin: 0;
  max-width: none;

  & > article {
    margin: 0 auto;
    max-width: 40rem;
  }
}

p.meta {
  margin-top: 1rem;
  font-size: $font-size-base;
  font-family: $font-family-monospace;
  color: $gray-dark;
}

p.meta a {
  color: $gray-dark;
}

p.meta a:hover,
p.meta a:focus {
  color: $primary;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
}

.card {
  // Flex
  align-items: stretch;
  align-self: flex-start;
  box-sizing: border-box;
  flex: 0 0 calc(50% - 2rem);
  margin: $footer-section-margin;
  // Style
  background: $gray-100;
  border-radius: 8px;
  filter: drop-shadow(1px 2px 4px $shadow-color-soft);
  will-change: filter; /* Avoid glitches on Safari */

  & > * {
    display: block;
    padding: 0 1rem;
  }

  &:hover,
  &:focus-within {
    filter: drop-shadow(1px 2px 4px $shadow-color-medium);
  }

  .card-more,
  .card-action {
    background: $pastel-yellow;
    border-radius: 0 0 8px 8px;
    padding: 1rem;
    text-align: end;
    transition: background 0.08s ease-in-out;

    &::after {
      content: " →";
    }

    &:hover,
    &:active,
    &:focus {
      background: $yellow;
      text-decoration: none;
    }

    &:focus {
      outline: lighten($primary, 10%) 2px solid;
    }
  }

  .card-action {
    background: $pastel-purple;
    border-radius: 0;
    font-weight: 600;

    &::before {
      content: " ✨ ";
    }
  }
}

.date-icon::before {
  content: "📅 ";
}

.time-icon::before {
  content: "⏰ ";
}

.place-icon::before {
  content: "📍 ";
}

.timeline {
  $tl-event-padding-x: 1rem;
  $tl-event-padding-y: 1rem;
  $tl-event-spacing: 1rem;
  $tl-column-width: 3rem;
  $tl-marker-size: 1rem;
  $tl-line-width: 0.25rem;
  $tl-line-space: 2.5rem;
  $tl-marker-top: $tl-event-padding-y + 1.5rem;
  $tl-line-top: $tl-marker-top + $tl-marker-size + $tl-line-space;
  $tl-marker-left: ($tl-column-width + $tl-marker-size) / 2;
  $tl-line-left: ($tl-column-width + $tl-line-width) / 2;
  $tl-line-limit: $tl-marker-size + 2 * $tl-line-space - $tl-event-spacing;
  $tl-alterning-margin: 3rem;

  max-width: 35em;
  margin: 0 auto;

  .timeline-event {
    position: relative;
    margin-left: $tl-column-width;
    margin-bottom: $tl-event-spacing;

    // Widget showing the date of the event
    .datemark {
      position: absolute;
      text-transform: uppercase;
      top: 0.5rem;
      left: -$tl-column-width - 1rem;
      background: white;
      padding: 0.5rem;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 1px 1px 3px -2px $pride-black;

      span {
        display: block;
        text-align: center;
        line-height: 1;
      }
      span:nth-child(1) {
        color: $pride-purple;
      }
      .day {
        font-size: 2rem;
      }
    }

    // Article body
    .article-body {
      box-shadow: 1px 1px 3px -2px $pride-black;
      border-radius: 8px;
      background: white;
      box-sizing: border-box;
      font-family: $font-family-sans-serif;
      padding: $tl-event-padding-y $tl-event-padding-x;
    }

    &:focus {
      outline: darken($primary, 5%) 2px solid;
      outline-offset: 3px;
    }

    .flex-spans {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }

    h2 {
      font-family: $font-family-serif;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
    }

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      border-radius: 8px;
      top: $tl-line-top;
      left: -$tl-line-left;
      width: $tl-line-width;
      height: calc(100% - #{$tl-line-limit});
      background: lighten($primary, 40%);
    }

    // Alterning margins
    &:nth-of-type(2n) {
      margin-left: 2 * $tl-alterning-margin;
      margin-right: -$tl-alterning-margin;
      &::after {
        left: -$tl-line-left - $tl-alterning-margin;
      }
      .datemark {
        left: -$tl-column-width - $tl-alterning-margin;
      }
    }
    &:nth-of-type(2n + 1) {
      margin-left: 1rem + $tl-alterning-margin;
      margin-right: -1rem;
      &::after {
        left: -$tl-line-left - 1rem;
      }
    }

    // Alterning colors
    &:nth-of-type(4n + 1)::after {
      background: $pride-lightblue;
    }
    &:nth-of-type(4n + 2)::after,
    &:nth-of-type(4n)::after {
      background: $pride-pink;
    }
    &:nth-of-type(4n + 3)::after {
      background: $pride-white;
    }
  }
}

.affiche {
  max-width: 100%;
}

.partenaire {
  margin: 1rem;
}

@media screen and (max-width: 42rem) {
  .card-list {
    display: block;
  }
  .card {
    margin: 0 0 2rem;
    h3 {
      padding-top: 1rem;
    }
  }

  .hero {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2.25rem;
    }
  }

  .timeline {
    .timeline-event:nth-of-type(n) {
      margin: 1rem 0;

      .datemark {
        position: unset;
        float: left;
        margin: 0.5rem 2rem 0.5rem 1rem;
      }

      &::after {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 24rem) {
  .card {
    margin: 0 -2rem 2rem;
    border-radius: 0;
  }

  .hero {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.75rem;
    }
  }

  .timeline {
    .timeline-event:nth-of-type(n) {
      margin: 0 -2rem 2rem;
      .article-body {
        border-radius: 0;
      }
    }
  }
}

/*
 * Dark mode
 */

@media screen and (prefers-color-scheme: dark) {
  .article-container {
    background: transparentize($black, 0.4);
  }

  .timeline {
    .timeline-event {
      .article-body,
      .datemark {
        background: $gray-900;
        box-shadow: 1px 1px 3px -2px $shadow-color-soft;
      }
      .datemark span:nth-child(1) {
        color: $link-color-dark;
      }
    }
  }

  .card {
    background: $gray-900;
    filter: drop-shadow(1px 2px 4px $shadow-color-soft-dark);

    &:hover,
    &:focus-within {
      filter: drop-shadow(1px 2px 4px $shadow-color-medium-dark);
    }

    .card-more,
    .card-action {
      background: $black;

      &:hover,
      &:active,
      &:focus {
        background: desaturate(darken($blue, 30%), 40%);
        text-decoration: none;
      }
    }

    .card-action {
      background: desaturate(darken($blue, 35%), 60%);
    }
  }
}
