<header class="navbar navbar-light">
  <a href="{{ "/" | absURL }}">
    <picture>
      <source srcset="{{ .Site.Params.LogoDark }}" media="(prefers-color-scheme: dark)" />
      <source srcset="{{ .Site.Params.Logo }}" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
      <img class="logo" width="140" height="98" alt="{{ .Site.Params.Title }}" src="{{ .Site.Params.Logo }}" />
    </picture>
  </a>
  <nav class="nav flex-column flex-md-row ms-md-n3">
    {{- $current := . -}}
    {{ range .Site.Menus.main -}}
      {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
      {{- $active = or $active (eq .Name $current.Title) -}}
      {{- $active = or $active (and (eq .Name "Docs") (eq $current.Section "docs")) -}}
      {{- $active = or $active (and (eq .Name "Themes") (eq $current.Section "themes")) -}}
      {{- $active = or $active (and (eq .Name "Showcase") (eq $current.Section "showcase")) -}}
      {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}<a
        class="nav-link ps-0 py-1{{ if $active }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a
      >{{ end -}}
    </nav>
</header>
